* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background: linear-gradient(#111, #151515);
	color: white;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > div {
	width: 100%;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #777;
}

#header {
	flex: 1;
	margin: 0 32px;
}

h1 {
	font-family: cursive, Arial, sans-serif;
	color: red;
	text-align: center;
	font-size: 4em;
}

span {
	display: block;
}

#copyright {
	text-align: center;
	margin-top: 32px;
}

.btn {
	width: 256px;
	background: inherit;
	color: inherit;
	padding: 8px;
	font-size: 1em;
	border: red solid 2px;
	border-radius: 8px;
}

input[type="range"] {
	width: 256px;
}

input[type="color"] {
	width: 128px;
	height: 128px;
}

input[type="range"],
input[type="color"],
.btn {
	max-width: 100%;
}

button, input {
	cursor: pointer;
}

#bordersBtn {
	background: red;
}

#bordersBtn.inactive {
	background: inherit;
}

#settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	width: 30vw;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 32px;
	max-height: 90vh;
	max-width: 90vh;
	aspect-ratio: 1/1;
	border-top: white solid 2px;
	border-right: white solid 3px;
	border-bottom: white solid 3px;
	border-left: white solid 2px;
}

main, #grid {
	flex: 1;
}

.cell {
	border-top: white solid 1px;
	border-left: white solid 1px;
}

@media (max-width: 1200px) {
	html, body {
		height: unset;
	}

	body {
		background: #111;
		flex-direction: column;
		gap: 64px;
		padding: 32px 0;
	}

	h1 {
		font-size: 3em;
	}

	span {
		display: inline;
	}

	main {
		order: 1;
	}

	#settings {
		margin: 0 16px;
	}
}

@media (max-width: 800px) {
	body > div {
		flex-direction: column;
		gap: 64px;
	}

	#settings {
		width: 100%;
		margin: 0;
	}

	#grid {
		width: 90vw;
		height: 90vw;
	}
}